/* Admin */
.fs-2 {
    font-size: 40px !important;
}
.fs-5 {
    font-size: 24px !important;
}
.fs-6 {
    font-size: 20px !important;
}
.fs-7 {
    font-size: 16px !important;
}
.fs-8 {
    font-size: 14px !important;
}
.fs-9 {
    font-size: 12px !important;
}

.admin-header {
    background-color: #1e1e2d;
}
.text-white {
    color: white !important;
}

/* Promotion Blade CSS */

.qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
}
#storeTable td, #modelTable td {
    color: black !important;
}
#store_table_length, #store_table_filter, #store_table_info, #store_table_paginate {
    display: none !important;
}
#storeTable th, #modelTable th {
    font-size: 8px;
    padding: 7px 0;
    text-align: center;
    font-weight: 600 !important;
    color: black !important;
}
#storeTable td, #modelTable td {
    font-size: 9px;
    padding: 7px 0;
    text-align: center;
}


#model_table_length, #model_table_filter, #model_table_info, #model_table_paginate {
    display: none !important;
}
/* Logo */
.brand-logo img {
    width: 90px;
}

/* Begin::Dynamic Model Table */
#modelInput {
    display: none;
}
.model-table {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}
.model-table .model-table-row {
    display: flex;
    flex-wrap: nowrap;
}
#modelDetailTable > .model-table-row:first-child {
    border-top: 1px solid #27282e;
}
.model-table > .model-table-row > .td-block:first-child {
    border-left: 1px solid #27282e;
}
.model-table .td-block {
    background-color: #ffffff;
    flex: 1;
    min-width: 30px; /* Allow blocks to shrink if needed */
    border-right: 1px solid #27282e;
    border-bottom: 1px solid #27282e;
    box-sizing: border-box;
    height: 32px;
    width: 100%;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.model-table .td-block.td-header {
    color: black;
    font-size: 8px;
    font-weight: 600;
}
.model-table .td-block.td-sheet {
    color: black !important;
    cursor: pointer;
}
.dailyModelBlue {
    border-right: 1px solid #3c3939;
    background-color: #bfe2ff;
    color: black;
    width: 50%;
    line-height: 31px;
    cursor: pointer;
}
.dailyModelRed {
    background-color: #ff9999;
    color: black;
    width: 50%;
    line-height: 31px;
    cursor: pointer;
}

.td-white {
    background-color: #ffffff !important;
}
.td-light-blue {
    background-color: #bfe2ff  !important;
}
.td-blue {
    background-color: #469cf5 !important;
}
.td-dark-blue {
    background-color: #305496 !important;
}
.td-pink {
    background-color: #ff9999!important;
}
.td-red {
    background-color: #ff5050 !important;
}
.td-gray {
    background-color: #bfbfbf !important;
}
.active_blink{
    box-shadow: 0 0.6em 0.6em -0.2em #39393c;
    transform: translateY(-0.3em);
}

/* Begin::Modal Table */
#modalTable td, #modalTable th {
    border: 1px solid #27282e;
}
#dataModal .modal-content {
    color: white;
    background: #15161c;
    box-shadow: 2px 2px 33px 3px rgb(19 160 204);
}
#dataModal table th, #dataModal table td {
    color: #ffffff;
}
#dataModal .modal-title {
    color: #fff !important;
}
#dataModal .modal-content button > i {
    color: #fff;
}
#dataModal .modal-header {
    border-color: #27282e !important;
}
#dataModal .modal-footer {
    border-color: #27282e !important;
}
#model-chart svg {
    background-color: transparent !important;
}
/* End::Dynamic Model Table */


/* Spinner */
#loadingSpinner {
    display: none;
}

.p-link {   
    cursor: pointer;
    list-style: none;
    font-size: 16px;
}
.p-link:hover {
    color: #18C8FF !important;
    text-decoration: underline;
}



.divide-cell {
    /* padding: 0; */
    /* border: 2px solid black; */
    position: relative;
    background-color: #ffffff;
    flex: 1;
    min-width: 30px;
    border-right: 1px solid #27282e;
    border-bottom: 1px solid #27282e;
    box-sizing: border-box;
    height: 32px;
    width: 100%;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    color: black;
    font-size: 8px;
    font-weight: 600;
}

.divide-cell::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: -webkit-gradient(
      linear,
      right top,
      left bottom,
      color-stop(49%, white),
      color-stop(50%, black),
      color-stop(51%, white)
    );
    background: -webkit-linear-gradient(
      top right,
      white 49%,
      black 50%,
      white 51%
    );
    background: -o-linear-gradient(
      top right,
      white 49%,
      black 50%,
      white 51%
    );
    background: linear-gradient(
      to bottom left,
      white 49%,
      black 50%,
      white 51%
    );
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.divide-cell .c1 {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2px;
    margin-top: 2px;
}

.divide-cell .c2 {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 1px;
    margin-left: 1px;
}
.image-input-wrapper {
    background: url('../../media/img/printing-table.png');
    background-position: center !important;
    background-size: contain !important;
}
.logout-dropdown {
    background: #1f1e2fa3;
    border-radius: 0 0 5px 5px !important;
}